<ion-content>
  <ion-card class="container">
    <ion-card-header>
      <ion-button *ngIf="listLive" class="create-lobby-button" (click)="toggleCreateLobby()"
                  [disabled]=" hasLobby || joinedLobby!=null">

        <ion-icon name="add-circle"></ion-icon>
        {{ "CREATE_NEW_LOBBY" | language }}
      </ion-button>

      <ion-button class="change-to-replays" (click)="changeFilteredLobbyStatus()">
        <span *ngIf="listLive"> <ion-icon name="archive"></ion-icon> </span>
        <span *ngIf="!listLive"> <ion-icon name="eye"></ion-icon> </span>

        {{ (listLive ? 'CHANGE_TO_REPLAYS' : 'Change_TO_LIVE_LOBBIES') | language }}
      </ion-button>

      <h1 class="main-header">{{ (listLive ? 'AVAILABLE_LOBBIES' : 'REPLAYS') | language }}</h1>
    </ion-card-header>

    <ion-card-content>
      <ion-searchbar [(ngModel)]="searchTerm" [debounce]="500"
                     (ionInput)="loadLobbies(this.userId, listLive)"></ion-searchbar>
      <ion-list class="lobby-list">
        <div *ngFor="let lobby of (lobbiesObservables | async);  trackBy: trackByLobbyId">
          <app-lobby
            [lobby]="lobby"
            [hasLobby]="hasLobby"
            [joinedLobby]="joinedLobby"
            [userId]="userId"
            [usersLobby]="usersLobby"
            [listLive]="listLive"
            *ngIf="currentUser" [currentUser]="currentUser">
          </app-lobby>
        </div>
      </ion-list>
    </ion-card-content>
    <div class="bottom-spacer"></div>
  </ion-card>
</ion-content>
