<div class="lobbies-container">
  <div *ngFor="let lobby of paginatedLobbies" class="lobby-card">
    <h3>{{ lobby.name }}</h3>
    <p>Owner: {{ lobby.owner }}</p>
    <p>Players: {{ lobby.currentPlayers }} / {{ lobby.maxPlayers }}</p>
    <p *ngIf="lobby.started">Game started: Round {{ lobby.currentRound }}</p>
    <p *ngIf="!lobby.started">Game has not started yet.</p>
    <button (click)="joinLobby(String(lobby.id))" *ngIf="!lobby.started">Join Lobby</button>
  </div>
</div>
<button (click)="createLobby()" >Create New Lobby</button>
