<ion-content>
  <app-create-lobby-modal
    [currentUser]="currentUser"
    (closeModal)="handleModalClose()">
  </app-create-lobby-modal>

  <ion-card class="container">
    <ion-card-header>
      <ion-button expand="block" class="create-lobby-button" (click)="toggleCreateLobby()"
                  [disabled]=" hasLobby || joinedLobby!=null">
        Create New Lobby
      </ion-button>
      <h2>Available Lobbies:</h2>
    </ion-card-header>

    <ion-card-content>
      <ion-searchbar [(ngModel)]="searchTerm" [debounce]="500" (ionInput)="filterLobbies(this.userId)"></ion-searchbar>
      <ion-list class="lobby-list">
        <div *ngFor="let lobby of (lobbies | async)">
          <app-lobby
            [lobby]="lobby"
            [hasLobby]="hasLobby"
            [joinedLobby]="joinedLobby"
            [userId]="userId"
            [usersLobby]="usersLobby"
            *ngIf="currentUser" [currentUser]="currentUser">
          </app-lobby>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
