ion-button.padding-left{
  padding-left: 15px;
}


ion-button {
  --border-radius: 5px;
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 14px;
  --padding-bottom: 14px;
  margin: 10px;
  font-weight: bold;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

ion-button:hover {
  transform: scale(1.05);
}

ion-button:active {
  transform: scale(0.9);
  opacity: 0.8;
}

.spoiler-hidden {
  filter: blur(8px);
  transition: filter 0.3s;
}
