.choices {
  display: flex;
  justify-content: space-around;
}

.choices img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.player1 ion-row,
.player2 ion-row {
  margin-bottom: 10px;
}

.player1 img,
.player2 img {
  max-width: 100%;
  height: auto;
}


.player1 {
  background-color: rgba(0, 0, 255, 0.6);
  border: 1px solid #0000b3;
}

.player2 {
  background-color: rgba(255, 0, 0, 0.6);
  border: 1px solid #b30000;
}


