<ion-content>
  <ng-container>
    <ion-card *ngIf="currentUser">
      <ion-card-title>{{ "PROFILE_PAGE" | language }}</ion-card-title>
      <ion-card-content class="profile-card-content">
        <!-- Felhasználói adatok és kép -->
        <div class="profile-info">
          <img
            [ngSrc]="'assets/profilePictures/' + currentUser.picture + '.png'"
            [width]="200"
            [height]="200"
            [alt]="'Profile picture'"
            [priority]="true">
          <div class="profile-details">
            <p><strong>Felhasználónév:</strong> {{ currentUser.username }}</p>
            <p><strong>Jogosultság:</strong> {{ currentUser.roles }}</p>
            <p><strong>Szint:</strong> {{ currentUser.level }}</p>
            <p><strong>Kitűző:</strong> {{ currentUser.badges }}</p>
          </div>
        </div>

        <!-- Tapasztalati pont jelző -->
        <div class="xp-bar-container">
          <div class="xp-bar">
            <div
              class="xp-bar-progress"
              [style.width.%]="(currentUser.xp / nextLevel) * 100">
            </div>
          </div>
          <p class="xp-info">{{ currentUser.xp }} / {{ nextLevel }} XP</p>
        </div>

        <!-- Gombok -->
        <div class="button-group">
          <ion-button
            expand="block"
            [color]="showStatistics ? 'primary' : 'medium'"
            (click)="changeProfilePart(true)">
            {{"STATS_PROFILE" | language}}
          </ion-button>
          <ion-button
            expand="block"
            [color]="!showStatistics ? 'secondary' : 'medium'"
            (click)="changeProfilePart(false)">
            {{"EDIT_PROFILE" | language}}
          </ion-button>
        </div>

        <app-profile-settings *ngIf="!showStatistics" [user]=currentUser></app-profile-settings>
        <app-profile-statistics *ngIf="showStatistics" [user]=currentUser></app-profile-statistics>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ion-toolbar class="large-title-fix"></ion-toolbar>
</ion-content>

