<ion-card>
  <ion-card-header>
    <ion-title>{{ "STATS_PROFILE" | language }}</ion-title>
  </ion-card-header>

  <ng-container *ngIf="displayedGames.length > 0">
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChange()">
      <ion-segment-button value="overall">
        {{ "OVERALL_STATS" | language }}
      </ion-segment-button>
      <ion-segment-button *ngFor="let game of displayedGames" [value]="game.lobbyId">
        {{ game.lobbyName }}
      </ion-segment-button>
    </ion-segment>

    <div class="pagination-controls">
      <ion-button (click)="previousPage()" [disabled]="currentPage === 0">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>

    <ion-card *ngIf="selectedSegment === 'overall'">
      <ion-card-header>
        <ion-card-title>{{ "OVERALL_STATISTICS" | language }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card class="stat-card">
                <ion-card-header>
                  {{ "TOTAL_GAMES" | language }}
                </ion-card-header>
                <ion-card-content>
                  {{ overallStats.totalGames }}
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="stat-card">
                <ion-card-header>
                  {{ "WIN_RATE" | language }}
                </ion-card-header>
                <ion-card-content>
                  {{ overallStats.winRate.toFixed(2) }}%
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card class="stat-card">
                <ion-card-header>
                  {{ "TOTAL_WINS" | language }}
                </ion-card-header>
                <ion-card-content>
                  {{ overallStats.totalWins }}
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="stat-card">
                <ion-card-header>
                  {{ "TOTAL_LOSSES" | language }}
                </ion-card-header>
                <ion-card-content>
                  {{ overallStats.totalLosses }}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card class="stat-card">
                <ion-card-header>
                  {{ "TOTAL_ROUNDS" | language }}
                </ion-card-header>
                <ion-card-content>
                  {{ overallStats.totalRounds }}
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="stat-card">
                <ion-card-header>
                  {{ "AVG_GAME_DURATION" | language }}
                </ion-card-header>
                <ion-card-content>
                  {{ overallStats.avgDuration | date:'mm:ss' }}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="selectedSegment !== 'overall'">
      <ion-card-header>
        <ion-card-title>{{ selectedGame?.lobbyName }}</ion-card-title>
        <ion-card-subtitle>
          {{ selectedGame?.startedAt | date:'medium' }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card class="stat-card">
                <ion-card-header>
                  {{ "GAME_RESULT" | language }}
                </ion-card-header>
                <ion-card-content>
                  {{ gameStats.result }}
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="stat-card">
                <ion-card-header>
                  {{ "GAME_DURATION" | language }}
                </ion-card-header>
                <ion-card-content>
                  {{ gameStats.duration | date:'mm:ss' }}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card class="stat-card">
                <ion-card-header>
                  {{ "WON_ROUNDS" | language }}
                </ion-card-header>
                <ion-card-content>
                  {{ gameStats.roundsWon }}
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="stat-card">
                <ion-card-header>
                  {{ "LOST_ROUNDS" | language }}
                </ion-card-header>
                <ion-card-content>
                  {{ gameStats.roundsLost }}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card class="stat-card">
                <ion-card-header>
                  {{ "DRAWN_ROUNDS" | language }}
                </ion-card-header>
                <ion-card-content>
                  {{ gameStats.roundsDrawn }}
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="stat-card">
                <ion-card-header>
                  {{ "BUTTONS" | language }}
                </ion-card-header>
                <ion-card-content>
                  <ion-button expand="block" class="return-button" (click)="goToGamePage()">
                    {{ 'BACK_TO_GAME' | language }}
                  </ion-button>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="displayedGames.length === 0">
    <div class="info-text">
      <ion-label>{{ "YOU_HAVENT_PLAYED_ANY_GAMES" | language }}</ion-label>
      <br>
      <ion-label>{{ "PLAY_GAME_FOR_STATS" | language }}!</ion-label>
    </div>
  </ng-container>
</ion-card>
