ion-card-header {
  padding: 8px;
  font-size: 1.2rem;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin: 16px 0;

  ion-button {
    margin: 0 8px;
  }
}

ion-segment {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

ion-segment-button {
  flex: 1 1 auto;
  text-align: center;
  margin: 0.25rem 0;
}


ion-label {
  text-align: center;
  margin:0 auto;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--ion-text-color);
}

.info-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 0.8;
}


ion-button.return-button {
  --background: var(--ion-logo-blue-darker-color);
  --color: var(--btn-stop-spectating-color);
}

ion-button.return-button, ion-button.replay-button{
  width: fit-content;
  margin: 0 auto;
}

ion-button.replay-button {
  --background: var(--ion-replay-color);
  --color: var(--btn-stop-spectating-color);
}


.stat-card {
  &-header {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--ion-text-color);
  }

  &-content {
    font-size: 1rem;
    color: var(--ion-text-color);
  }
}

.button-card-header{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 20px;
  color: var(--ion-text-color);
  width: 100%;
  margin: auto;

}

ion-card-title, ion-card-subtitle{
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

ion-title{
  margin: 0 auto;
  padding: 50px;
  align-items: center;
  text-align: center;
  text-decoration: underline;
}

ion-card {
  margin: 0 auto;
  align-items: center;
  max-width: 50%;
  background-color: var(--ion-card-background);
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin: auto;
}


@media (max-width: 600px) {
  ion-card {
    max-width: 100%;
    font-size: 0.7rem;
  }
}
