<ion-modal #lobbyPasswordModal (didDismiss)="close()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ "ENTER_PASSWORD"| language }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="close()">{{ "CLOSE" | language }}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-item *ngIf="!(this.lobby.maxPlayers <= this.lobby.players.length && !lobby.allowSpectators)">
        <ion-label position="floating">{{ "PASSWORD" | language }}</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button *ngIf="this.lobby.maxPlayers > this.lobby.players.length && !this.isUserInLobby()
         && !this.isUserSpectatingLobby() && (this.lobby.status !== 'started' && this.lobby.status !== 'starting')
          && !this.currentUser.inLobby"
                    class='btn-join-with-password'
                    (click)="joinWithPassword()"
        >{{ "JOIN_AS_PLAYER" | language }}
        </ion-button>

        <ion-label *ngIf="this.lobby.maxPlayers <= this.lobby.players.length">{{ "MAX_PLAYERS_REACHED" | language }}
        </ion-label>

      </ion-item>
      <ion-item>
        <ion-button
          *ngIf="!this.isUserInLobby() && !this.isUserSpectatingLobby() && this.lobby.allowSpectators && !this.currentUser.inLobby"
          class='btn-spectate-with-password'
          (click)="joinWithPasswordAsSpectator()"
          [disabled]="!lobby.allowSpectators">
          {{ "START_SPECTATING" | language }}
        </ion-button>
        <ion-label *ngIf="!lobby.allowSpectators">{{ "SPECTATORS_NOT_ALLOWED" | language }}</ion-label>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
