ion-button.btn-join-with-password {
  --background: var(--btn-join-with-password-bg);
  --color: var(--btn-join-with-password-color);
}

ion-button.btn-spectate-with-password {
  --background: var(--btn-spectate-with-password-bg);
  --color: var(--btn-spectate-with-password-color);
}
