<nav>
  <ul>
    <li *ngIf="!isLoggedIn"><a routerLink="/login" routerLinkActive="active">{{ "LOGIN_PAGE" | language}}</a></li>
    <li *ngIf="isLoggedIn"><a (click)="logout()">{{ "LOGOUT"| language}}</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="/profile" routerLinkActive="active">{{ "PROFILE_PAGE" | language }}</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="/lobbies" routerLinkActive="active">{{ "LOBBIES_PAGE" | language}}</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="/contact" routerLinkActive="active">{{ "CONTACT_PAGE"  | language}}</a></li>
    <li><a routerLink="/settings" routerLinkActive="active">{{ "SETTINGS_MENU"  | language}}</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
