<nav>
  <ul>
    <li *ngIf="!isLoggedIn"><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
    <li *ngIf="activeGame"><a routerLink="/rps" routerLinkActive="active">Active Game</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="/lobbies" routerLinkActive="active">Lobbies</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
