.main-nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  li {
    cursor: pointer;
    margin-right: 1rem;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--ion-text-color, white);
      padding: 0.5rem 0.75rem;
      transition: transform 0.2s;

      &:hover {
        font-weight: bold;
        transform: scale(1.05);
      }
    }

    &.active a {
      background-color: var(--ion-color-primary, #333);
      border-radius: 4px;
      color: var(--ion-color-light, white);
    }

    .main-nav li.active a {
      background-color: var(--ion-color-primary, #333);
      border-radius: 4px;
      color: var(--ion-color-light, white);
    }
  }

  .nav-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  .nav-text {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .nav-text {
    display: none;
  }
  li {
    margin-right: 0.75rem;
    a {
      padding: 0.5rem;
    }
  }
}

nav{
  border-bottom: 1px solid var(--ion-border-color);
}

.pulse-animation {
  animation: ionPulse 1.5s infinite;
}

@keyframes ionPulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

