<ion-modal #settingsModal (didDismiss)="close()">
  <ng-template>
    <ion-content>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ 'SETTINGS_MENU' | language }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="close()">X</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-item>
        <ion-label>{{ 'LANGUAGE' | language }}</ion-label>
        <ion-select
          interface="alert"
          [(ngModel)]="currentLanguage"
          (ionChange)="changeLanguage($event.detail.value)">
          <ion-select-option value="en">{{ 'ENGLISH' | language }}</ion-select-option>
          <ion-select-option value="hu">{{ 'HUNGARIAN' | language }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item (click)="toggleDarkMode()">
        <ion-label>
          {{ 'DARK_MODE' | language }}
        </ion-label>
        <div class="toggle-wrapper">
          <ion-toggle
            [checked]="themeService.getCurrentTheme()">
          </ion-toggle>
        </div>
      </ion-item>

      <ion-item>
        <ion-label>
          {{ 'VOLUME' | language }} ({{ volume }}%)
        </ion-label>
        <ion-range min="0" max="100" [(ngModel)]="volume" (ionChange)="updateVolume($event)">
        </ion-range>

        <ion-button (click)="playRandomSound()">
          {{ 'PLAY_RANDOM_SOUND' | language }}
        </ion-button>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>



