<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'SETTINGS_MENU' | language }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Nyelvválasztó -->
  <ion-item>
    <ion-label>{{ 'LANGUAGE' | language }}</ion-label>
    <ion-select [(ngModel)]="currentLanguage" (ionChange)="changeLanguage($event.detail.value)">
      <ion-select-option value="en">{{ 'ENGLISH' | language }}</ion-select-option>
      <ion-select-option value="hu">{{ 'HUNGARIAN' | language }}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Téma váltása -->
  <ion-item>
    <ion-label>{{ 'DARK_MODE' | language }}</ion-label>
    <ion-toggle [(ngModel)]="isDarkMode" (ionChange)="toggleDarkMode()"></ion-toggle>
  </ion-item>
</ion-content>
