.lobby-item {
  background-color: #00ff00;
  border-radius: 10px;
  padding: 40px;
  color: black;
  width: 70%;
  height: fit-content;
  margin: 15px auto; /* Centers the lobby items */
  text-align: left;
  display: block; /* Ensures each item takes up its own line */
  box-sizing: border-box; /* Includes padding in the width calculation */
}
