<ion-content>
  <ng-container *ngIf="game && !gameEnded">
  <div class="grid-container">
    <div class="grid-row">
      <!-- Első sor (1-3) -->
      <div class="cell" [class.filled]="isCellActive(1)"
      [class.active] = "isCurrentPlayer(getPlayerByCell(1))">
        <app-player-hand *ngIf="shouldShowPlayer(1)"
                         [currentUser]="currentUser"
                         [discardPileTopCard] = "game.discardPile[0]"
                         [player]="getPlayerByCell(1)"
                         [PlusDraws] = "game.gameModifiers?.pendingDraws"
                         [isCurrent]="isCurrentPlayer(getPlayerByCell(1))"
                         (playCard)="onPlayCard($event, getPlayerByCell(1).id)"
                         [gameEnded]="false">

        </app-player-hand>
      </div>
      <div class="cell" [class.filled]="isCellActive(2)"
           [class.active] = "isCurrentPlayer(getPlayerByCell(2))">
        <app-player-hand *ngIf="shouldShowPlayer(2)"
                         [currentUser]="currentUser"
                         [discardPileTopCard] = "game.discardPile[0]"
                         [player]="getPlayerByCell(2)"
                         [PlusDraws] = "game.gameModifiers?.pendingDraws"
                         [isCurrent]="isCurrentPlayer(getPlayerByCell(2))"
                         (playCard)="onPlayCard($event, getPlayerByCell(2).id)"
                         [gameEnded]="false">

        </app-player-hand>
      </div>
      <div class="cell" [class.filled]="isCellActive(3)"
           [class.active] = "isCurrentPlayer(getPlayerByCell(3))">
        <app-player-hand *ngIf="shouldShowPlayer(3)"
                         [currentUser]="currentUser"
                         [discardPileTopCard] = "game.discardPile[0]"
                         [player]="getPlayerByCell(3)"
                         [PlusDraws] = "game.gameModifiers?.pendingDraws"
                         [isCurrent]="isCurrentPlayer(getPlayerByCell(3))"
                         (playCard)="onPlayCard($event, getPlayerByCell(3).id)"
                         [gameEnded]="false">

        </app-player-hand>
      </div>
    </div>

    <!-- Második sor (4-6) -->
    <div class="grid-row">
      <div class="cell" [class.filled]="isCellActive(4)"
           [class.active] = "isCurrentPlayer(getPlayerByCell(4))">
        <app-player-hand *ngIf="shouldShowPlayer(4)"
                         [currentUser]="currentUser"
                         [discardPileTopCard] = "game.discardPile[0]"
                         [player]="getPlayerByCell(4)"
                         [PlusDraws] = "game.gameModifiers?.pendingDraws"
                         [isCurrent]="isCurrentPlayer(getPlayerByCell(4))"
                         (playCard)="onPlayCard($event, getPlayerByCell(4).id)"
                         [gameEnded]="false">

        </app-player-hand>
      </div>

      <div class="cell center-cell" [class.filled]="isCellActive(5)"
        [class.active] = "isCurrentPlayer(getPlayerByCell(5))">
        <app-draw-deck
          [count]="game.deck.length"
          [currentPlayerId]="game.currentPlayer"
          [currentUserId]="currentUser.id"
          (draw)="onDrawCard(currentUser.id)">
        </app-draw-deck>

        <app-discard-deck
          [topCard]="game.discardPile[0]"
          [count]="game.discardPile.length">
        </app-discard-deck>
        <p *ngIf="this.game.gameModifiers?.pendingDraws">+{{this.game.gameModifiers?.pendingDraws}}</p>
      </div>

      <div class="cell" [class.filled]="isCellActive(6)"
        [class.active] = "isCurrentPlayer(getPlayerByCell(6))">
        <app-player-hand *ngIf="shouldShowPlayer(6)"
                         [currentUser]="currentUser"
                         [discardPileTopCard] = "game.discardPile[0]"
                         [player]="getPlayerByCell(6)"
                         [PlusDraws] = "game.gameModifiers?.pendingDraws"
                         [isCurrent]="isCurrentPlayer(getPlayerByCell(6))"
                         (playCard)="onPlayCard($event, getPlayerByCell(6).id)"
                         [gameEnded]="false">
        </app-player-hand>
      </div>
    </div>

    <!-- Harmadik sor (7-9) -->
    <div class="grid-row">
      <div class="cell" [class.filled]="isCellActive(7)"
           [class.active] = "isCurrentPlayer(getPlayerByCell(7))">
        <app-player-hand *ngIf="shouldShowPlayer(7)"
                         [currentUser]="currentUser"
                         [discardPileTopCard] = "game.discardPile[0]"
                         [player]="getPlayerByCell(7)"
                         [PlusDraws] = "game.gameModifiers?.pendingDraws"
                         [isCurrent]="isCurrentPlayer(getPlayerByCell(7))"
                         (playCard)="onPlayCard($event, getPlayerByCell(7).id)"
                         [gameEnded]="false">
        </app-player-hand>
      </div>
      <div class="cell" [class.filled]="isCellActive(8)"
           [class.active] = "isCurrentPlayer(getPlayerByCell(8))">
        <app-player-hand *ngIf="shouldShowPlayer(8)"
                         [currentUser]="currentUser"
                         [discardPileTopCard] = "game.discardPile[0]"
                         [player]="getPlayerByCell(8)"
                         [PlusDraws] = "game.gameModifiers?.pendingDraws"
                         [isCurrent]="isCurrentPlayer(getPlayerByCell(8))"
                         (playCard)="onPlayCard($event, getPlayerByCell(8).id)"
                         [gameEnded]="false">
        </app-player-hand>
      </div>
      <div class="cell" [class.filled]="isCellActive(9)"
           [class.active] = "isCurrentPlayer(getPlayerByCell(9))">
        <app-player-hand *ngIf="shouldShowPlayer(9)"
                         [currentUser]="currentUser"
                         [discardPileTopCard] = "game.discardPile[0]"
                         [player]="getPlayerByCell(9)"
                         [PlusDraws] = "game.gameModifiers?.pendingDraws"
                         [isCurrent]="isCurrentPlayer(getPlayerByCell(9))"
                         (playCard)="onPlayCard($event, getPlayerByCell(9).id)"
                         [gameEnded]="false">
        </app-player-hand>
      </div>
    </div>
  </div>
  </ng-container>

  <ng-container *ngIf="game && gameEnded">
    <div class="grid-container">
      <div class="grid-row">
        <!-- Első sor (1-3) -->
        <div class="cell" [class.filled]="isCellActive(1)"
             [class.active] = "isCurrentPlayer(getPlayerByCell(1))">
          <app-player-hand *ngIf="shouldShowPlayer(1)"
                           [currentUser]="currentUser"
                           [gameEnded]="true"
                           [player]="getPlayerByCell(1)"
                           [placements]="placements">
          </app-player-hand>
        </div>
        <div class="cell" [class.filled]="isCellActive(2)"
             [class.active] = "isCurrentPlayer(getPlayerByCell(2))">
          <app-player-hand *ngIf="shouldShowPlayer(2)"
                           [currentUser]="currentUser"
                           [gameEnded]="true"
                           [player]="getPlayerByCell(2)"
                           [placements]="placements">

          </app-player-hand>
        </div>
        <div class="cell" [class.filled]="isCellActive(3)"
             [class.active] = "isCurrentPlayer(getPlayerByCell(3))">
          <app-player-hand *ngIf="shouldShowPlayer(3)"
                           [currentUser]="currentUser"
                           [gameEnded]="true"
                           [player]="getPlayerByCell(3)"
                           [placements]="placements">
          </app-player-hand>
        </div>
      </div>

      <!-- Második sor (4-6) -->
      <div class="grid-row">
        <div class="cell" [class.filled]="isCellActive(4)"
             [class.active] = "isCurrentPlayer(getPlayerByCell(4))">
          <app-player-hand *ngIf="shouldShowPlayer(4)"
                           [currentUser]="currentUser"
                           [gameEnded]="true"
                           [player]="getPlayerByCell(4)"
                           [placements]="placements">
          </app-player-hand>
        </div>
        <div class="cell center-cell">
          <app-draw-deck
            [count]="game.deck.length"
            [currentPlayerId]="game.currentPlayer"
            [currentUserId]="currentUser.id"
            (draw)="onDrawCard(currentUser.id)">
          </app-draw-deck>

          <app-discard-deck
            [topCard]="game.discardPile[0]"
            [count]="game.discardPile.length">
          </app-discard-deck>
          <p *ngIf="this.game.gameModifiers?.pendingDraws">+{{this.game.gameModifiers?.pendingDraws}}</p>
        </div>
        <div class="cell" [class.filled]="isCellActive(6)"
             [class.active] = "isCurrentPlayer(getPlayerByCell(6))">
          <app-player-hand *ngIf="shouldShowPlayer(6)"
                           [currentUser]="currentUser"
                           [gameEnded]="true"
                           [player]="getPlayerByCell(6)"
                           [placements]="placements">
          </app-player-hand>
        </div>
      </div>

      <!-- Harmadik sor (7-9) -->
      <div class="grid-row">
        <div class="cell" [class.filled]="isCellActive(7)"
             [class.active] = "isCurrentPlayer(getPlayerByCell(7))">
          <app-player-hand *ngIf="shouldShowPlayer(7)"
                           [currentUser]="currentUser"
                           [gameEnded]="true"
                           [player]="getPlayerByCell(7)"
                           [placements]="placements">
          </app-player-hand>
        </div>
        <div class="cell" [class.filled]="isCellActive(8)"
             [class.active] = "isCurrentPlayer(getPlayerByCell(8))">
          <app-player-hand *ngIf="shouldShowPlayer(8)"
                           [currentUser]="currentUser"
                           [gameEnded]="true"
                           [player]="getPlayerByCell(8)"
                           [placements]="placements">
          </app-player-hand>
        </div>
        <div class="cell" [class.filled]="isCellActive(9)"
             [class.active] = "isCurrentPlayer(getPlayerByCell(9))">
          <app-player-hand *ngIf="shouldShowPlayer(9)"
                           [currentUser]="currentUser"
                           [gameEnded]="true"
                           [player]="getPlayerByCell(9)"
                           [placements]="placements">
          </app-player-hand>
        </div>
      </div>
    </div>
  </ng-container>
</ion-content>






<ng-container *ngIf="!game">
  <h1>Nincs game :(</h1>
</ng-container>
