<ion-content>
  <ion-card>
    <ng-container *ngIf="game">
      <app-rps-spectate
        [playerChoices]="playerChoices"
        [game]="game"
        [skipAnimations]="skipAnimations"
        (playingAnimations)="playingAnimation($event)">
      </app-rps-spectate>
    </ng-container>

    <ng-container *ngIf="!game">
      <h1>{{ "GAME_DOESNT_EXIST" | language }}</h1>
    </ng-container>

    <div class="timeline-container">
      <div #visualization id="visualization"></div>
      <div *ngIf="barId === null"> <ion-label>{{ "NO_TIME_BAR" | language }}</ion-label></div>
      <div class="controls" *ngIf="game">

        <ion-button (click)="startTimeline(false)" [disabled]="playingAnimations || disablebuttons" class="start-button">
          <ion-icon slot="start" name="play"></ion-icon>
          <span class="button-text">{{ "START" | language }}</span>
        </ion-button>

        <ion-button (click)="stopTimeline()" [disabled]="playingAnimations || disablebuttons" class="pause-button">
          <ion-icon slot="start" name="pause"></ion-icon>
          <span class="button-text">{{ "PAUSE" | language }}</span>
        </ion-button>

        <ion-button (click)="jumpToStart()" [disabled]="playingAnimations || disablebuttons " class="jump-to-start-button">
          <ion-icon slot="start" name="play-back"></ion-icon>
          <span class="button-text">{{ "JUMP_TO_START" | language }}</span>
        </ion-button>

        <ion-button (click)="jumpToFirstEvent()" [disabled]="playingAnimations || disablebuttons" class="jump-to-first-event-button">
          <ion-icon slot="start" name="play-skip-back"></ion-icon>
          <span class="button-text">{{ "JUMP_TO_FIRST_EVENT" | language }}</span>
        </ion-button>

        <ion-button (click)="jumpToRealTime()" [disabled]="playingAnimations || disablebuttons" class="jump-to-real-time-button">
          <ion-icon slot="start" name="time-outline"></ion-icon>
          <span class="button-text">{{ "JUMP_TO_REAL_TIME" | language }}</span>
        </ion-button>

        <ion-button (click)="jumpToNextEvent()" [disabled]="playingAnimations || lastEvent || disablebuttons" class="jump-to-next-event-button">
          <ion-icon slot="start" name="chevron-forward"></ion-icon>
          <span class="button-text">{{ "JUMP_TO_NEXT_EVENT" | language }}</span>
        </ion-button>

        <ion-label *ngIf="!playingAnimations">{{ "SKIP_ANIMATIONS" | language }}</ion-label>
        <ion-checkbox [(ngModel)]="skipAnimations" *ngIf="!playingAnimations"></ion-checkbox>
      </div>
    </div>
    <div>

    </div>
    <ion-toolbar></ion-toolbar>
  </ion-card>
</ion-content>

<div class="bottom-spacer"></div>
