<ion-item class="lobby-item">
  <ng-container *ngIf="getLobbyStyle(lobby) as lobbyStyle">
    <ion-card class="lobby-card" [style.background-color]="lobbyStyle.backgroundColor">
      <ion-card-header>
        <ion-card-title>
          <ion-icon [name]="lobbyStyle.icon" style="margin-right: 8px;"></ion-icon>
          <strong>{{ lobby.name }}</strong>
          <ion-icon *ngIf="lobby.private" name="shield" style="margin-left: 8px;"></ion-icon>
          <ion-icon *ngIf="lobby.password != null" name="lock-closed" style="margin-left: 8px;"></ion-icon>
          <ion-icon *ngIf="lobby.players.length >= lobby.maxPlayers" name="people" style="margin-left: 8px;"></ion-icon>
          <ion-icon *ngIf="!lobby.allowSpectators" name="eye-off" style="margin-left: 8px;"></ion-icon>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="lobby-info">
          <ion-label><strong>{{ "ID" | language }}: {{ lobby.id | language}}</strong></ion-label>
          <ion-label><strong>{{ "GAME" | language }}: {{ lobby.gameType | language}}</strong></ion-label>
          <ion-label><strong>{{ "OWNER" | language }}: {{ lobby.ownerName }}</strong></ion-label>
          <ion-label><strong>{{ "PLAYERS" | language }}: {{ lobby.players.length }}</strong></ion-label>
          <ion-label><strong>{{ "SPECTATORS" | language }}: {{ lobby.spectators.length }}</strong></ion-label>
          <p *ngIf="lobby.private && lobby.ownerId === currentUser.id">
            <strong>{{ "LOBBY_PRIVATE_NOTIFIER_OWNER" | language }}</strong>
          </p>
          <p *ngIf="lobby.private && lobby.ownerId !== currentUser.id">
            <strong>{{ "LOBBY_PRIVATE_NOTIFIER" | language }}</strong>
          </p>

        </div>

        <span class="lobby-actions" *ngIf="actions && actions.length > 0">
        <ng-container *ngFor="let action of actions">
          <ion-button *ngIf="action.condition"
                      [class]="action.class"
                      (click)="action.command()"
                      [disabled]="action.disabled">
            {{ action.label | language }}
          </ion-button>
        </ng-container>
        </span>

      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-item>
