<ion-card>
  <ion-card-header>
    <ion-title>{{ "EDIT_PROFILE" | language }}</ion-title>
  </ion-card-header>
  <ion-card-content>
    <form #profileForm="ngForm" *ngIf="!user.inLobby">
      <div class="selection-groups">
        <div class="edit-group" [class.disabled]="isDeleteSelected">
          <ion-chip
            *ngFor="let option of availableOptions"
            [color]="selectedOptions.has(option.value) ? 'primary' : 'medium'"
            (click)="!isDeleteSelected && toggleOption(option.value)">
            <ion-label>{{ option.label | language }}</ion-label>
          </ion-chip>
        </div>

        <div class="delete-group">
          <ion-chip
            [color]="isDeleteSelected ? 'danger' : 'medium'"
            (click)="toggleDelete()">
            <ion-label>{{ "DELETE_PROFILE" | language }}</ion-label>
          </ion-chip>
        </div>
      </div>

      <div *ngIf="!isDeleteSelected && selectedOptions.size === 0" class="empty-state">
        <ion-label>
          {{ "SELECT_MODIFICATION_TYPE" | language }}
        </ion-label>
      </div>

      <div *ngIf="selectedOptions.has('picture')" class="form-section">
        <ion-item>
          <ion-label>{{ "SELECT_PROFILE_PICTURE" | language }}</ion-label>
        </ion-item>
        <div class="picture-scroller">
          <img
            *ngFor="let picture of profilePictures"
            [ngSrc]="'assets/profilePictures/'+picture"
            [class.selected]="picture === selectedPicture + '.png'"
            (click)="onProfilePictureSelect(picture)"
            [height]="200"
            [width]="200"
            [alt]="picture"
            class="profile-picture"
          />
        </div>
      </div>


      <div *ngIf="selectedOptions.size > 0" class="form-section">

        <div *ngIf="selectedOptions.has('username')">
          <ion-item>
            <div class="label-wrapper">
              <ion-label position="stacked">{{ "NEW_USERNAME" | language }}</ion-label>
            </div>
            <ion-input [(ngModel)]="form.username" name="username" required></ion-input>
          </ion-item>
        </div>

        <div *ngIf="selectedOptions.has('password')">
          <ion-item>
            <div class="label-wrapper">
              <ion-label position="stacked">{{ "NEW_PASSWORD" | language }}</ion-label>
            </div>
            <ion-input [(ngModel)]="form.password" name="newPassword" type="password" required></ion-input>
          </ion-item>
        </div>

        <div>
          <ion-item>
            <div class="label-wrapper">
              <ion-label position="stacked" class="required-star">{{ "CONFIRM_PASSWORD" | language }}</ion-label>
            </div>
            <ion-input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required></ion-input>
          </ion-item>
        </div>

      </div>


      <div *ngIf="isDeleteSelected" class="delete-fields">
        <ion-item>
          <div class="label-wrapper">
            <ion-label position="stacked" class="required-star">{{ "USERNAME" | language }}</ion-label>
          </div>
          <ion-input [(ngModel)]="deleteData.username" name="deleteUsername" required></ion-input>
        </ion-item>

        <ion-item>
          <div class="label-wrapper">
            <ion-label position="stacked" class="required-star">{{ "EMAIL" | language }}</ion-label>
          </div>
          <ion-input [(ngModel)]="deleteData.email" name="deleteEmail" type="email" required></ion-input>
        </ion-item>

        <ion-item>
          <div class="label-wrapper">
            <ion-label position="stacked" class="required-star">{{ "PASSWORD" | language }}</ion-label>
          </div>
          <ion-input [(ngModel)]="deleteData.password" name="deletePassword" type="password" required></ion-input>
        </ion-item>
      </div>

      <div class="action-buttons">
        <div *ngIf="!isDeleteSelected && selectedOptions.size > 0">
          <ion-button type="submit" (click)="onSubmit()" [disabled]="!profileForm.valid">
            {{ "SAVE_CHANGES" | language }}
          </ion-button>
        </div>

        <div *ngIf="isDeleteSelected">
          <ion-button color="danger" type="button" (click)="onDeleteProfile()" [disabled]="!isDeleteFormValid()">
            {{ "CONFIRM_DELETE" | language }}
          </ion-button>
        </div>
      </div>
    </form>
    <ion-label>{{ "CANT_CHANGE_WHILE_IN_LOBBY" | language }}</ion-label>
  </ion-card-content>
</ion-card>
