<ion-card>
  <h1>{{ "SPECTATING_GAME" | language }}: {{ lobbyId }}</h1>
  <div class="timeline-container">
    <div #visualization id="visualization"></div>
    <div class="controls" *ngIf="game">
      <ion-button (click)="startTimeline(false)">{{ "START" | language }}</ion-button>
      <ion-button (click)="stopTimeline()">{{ "PAUSE" | language }}</ion-button>
      <ion-button (click)="jumpToStart()">{{ "JUMP_TO_START" | language }}</ion-button>
      <ion-button (click)="jumpToFirstEvent()">{{ "JUMP_TO_FIRST_EVENT" | language }}</ion-button>
      <ion-button (click)="jumpToRealTime()">{{ "JUMP_TO_REAL_TIME" | language }}</ion-button>
      <ion-button (click)="jumpToNextEvent()">{{ "JUMP_TO_NEXT_EVENT" | language }}</ion-button>
    </div>
  </div>

  <ng-container *ngIf="game">
    <app-rps-spectate
      [playerChoices]="playerChoices"
      [game]="game">
    </app-rps-spectate>
  </ng-container>

  <ng-container *ngIf="!game">
    <h1>{{ "GAME_DOESNT_EXIST" | language }}</h1>
  </ng-container>
</ion-card>


