.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  background-color: lightgray;
  margin: 0 auto;
  padding: 10px;
}

#visualization {
  width: 75%;
  height: fit-content;
  background-color: rgba(128, 128, 128, 0.9);
  border: 1px solid #add8e6;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: orange;
}

body {
  background-color: black;
  color: red;
}

ion-card{
  color: black;
  padding: 15px;
  border-radius: 15px;
}


:host {
  --player0-color: rgba(0, 114, 178, 1);
  --player1-color: rgba(230, 159, 0, 1);
  --player2-color: rgba(0, 158, 115, 1);
  --player3-color: rgba(204, 121, 167, 1);
  --player4-color: rgba(213, 94, 0, 1);
  --player5-color: rgba(86, 180, 233, 1);
  --player6-color: rgba(171, 171, 171, 1);
  --player7-color: rgba(240, 228, 66, 1);
}

:host ::ng-deep .vis-item.vis-dot[class*="0"] {
  border-color: var(--player0-color);
  background-color: var(--player0-color);
}

:host ::ng-deep .vis-item.vis-dot[class*="1"] {
  border-color: var(--player1-color);
  background-color: var(--player1-color);
}

:host ::ng-deep .vis-item.vis-dot[class*="2"] {
  border-color: var(--player2-color);
  background-color: var(--player2-color);
}

:host ::ng-deep .vis-item.vis-dot[class*="3"] {
  border-color: var(--player3-color);
  background-color: var(--player3-color);
}

:host ::ng-deep .vis-item.vis-dot[class*="4"] {
  border-color: var(--player4-color);
  background-color: var(--player4-color);
}

:host ::ng-deep .vis-item.vis-dot[class*="5"] {
  border-color: var(--player5-color);
  background-color: var(--player5-color);
}

:host ::ng-deep .vis-item.vis-dot[class*="6"] {
  border-color: var(--player6-color);
  background-color: var(--player6-color);
}

:host ::ng-deep .vis-item.vis-dot[class*="7"] {
  border-color: var(--player7-color);
  background-color: var(--player7-color);
}



:host ::ng-deep .vis-item.vis-line[class*="0"] {
  border-color: var(--player0-color);
}

:host ::ng-deep .vis-item.vis-line[class*="1"] {
  border-color: var(--player1-color);
}

:host ::ng-deep .vis-item.vis-line[class*="2"] {
  border-color: var(--player2-color);
}

:host ::ng-deep .vis-item.vis-line[class*="3"] {
  border-color: var(--player3-color);
}

:host ::ng-deep .vis-item.vis-line[class*="4"] {
  border-color: var(--player4-color);
}

:host ::ng-deep .vis-item.vis-line[class*="5"] {
  border-color: var(--player5-color);
}

:host ::ng-deep .vis-item.vis-line[class*="6"] {
  border-color: var(--player6-color);
}

:host ::ng-deep .vis-item.vis-line[class*="7"] {
  border-color: var(--player7-color);
}



:host ::ng-deep .vis-item.vis-box[class*="0"] {
  background-color: var(--player0-color);
}

:host ::ng-deep .vis-item.vis-box[class*="1"] {
  background-color: var(--player1-color);
}

:host ::ng-deep .vis-item.vis-box[class*="2"] {
  background-color: var(--player2-color);
}

:host ::ng-deep .vis-item.vis-box[class*="3"] {
  background-color: var(--player3-color);
}

:host ::ng-deep .vis-item.vis-box[class*="4"] {
  background-color: var(--player4-color);
}

:host ::ng-deep .vis-item.vis-box[class*="5"] {
  background-color: var(--player5-color);
}

:host ::ng-deep .vis-item.vis-box[class*="6"] {
  background-color: var(--player6-color);
}

:host ::ng-deep .vis-item.vis-box[class*="7"] {
  background-color: var(--player7-color);
}

