.choices {
  display: flex;
  justify-content: space-around;
}

.choices img {
  width: 400px;
  height: 400px;
  cursor: crosshair;
}

.player0 ion-row,
.player1 ion-row {
  margin-bottom: 10px;
}

.player0 img,
.player1 img {
  max-width: 100%;
  height: auto;
}

.player0{
  border-color: var(--player0-color);
  background-color: var(--player0-color);
}

.player1{
  border-color: var(--player1-color);
  background-color: var(--player1-color);
}

ion-label{
  color:black;
}


:host {
  --player0-color: rgba(0, 114, 178, 1);
  --player1-color: rgba(230, 159, 0, 1);
  --player2-color: rgba(0, 158, 115, 1);
  --player3-color: rgba(204, 121, 167, 1);
  --player4-color: rgba(213, 94, 0, 1);
  --player5-color: rgba(86, 180, 233, 1);
  --player6-color: rgba(171, 171, 171, 1);
  --player7-color: rgba(240, 228, 66, 1);
}
